.title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    ion-avatar {
        margin-left: 42%;
    }
}

.handle {
    font-weight: normal;
    font-size: 18px;
}

.label {
    font-weight: bold;
}

.logout-button {
    --background: #e7a61a;
    --background-activated: #e7a61a;
    --background-focused: #e7a61a;
    --background-hover: #e7a61a;
}