ion-title {
    font-weight: bold;
    margin: 70px 0 70px 0;

    span {
        font-weight: lighter;
    }
}

ion-buttons {
    position: relative;
    top: -70px;
}

.category-selected {
    background-color: #e7a61a;
}

.category {
    border-radius: 35px;
    text-align: center;
    width: 23%;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 10px;

    ion-avatar {
        background-color: white;
        width: 35px;
        height: 35px;
    }

    ion-label {
        font-weight: bold;
        font-size: 10px;
    }
}

.category-list {
    display: -webkit-box;
    overflow: auto;
}

.separator {
    color: lightgray;
}

ion-header::after {
    background-image: none;
}

.card-detail {
    box-shadow: none;

    img {
        border-radius: 10px;
    }

    ion-button {
        --color: #e7a61a;
        --border-color: #e7a61a;
    }
}