<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Food
            <br>
            <span>
                Delivery
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search..."></ion-searchbar>
    <ion-grid>
        <ion-row class="category-list">
            <div class="category" *ngFor="let category of categories; let i=index" (click)="selectCategory(category)"
                [ngClass]="{'category-selected': category.selected}">
                <ion-col>
                    <ion-avatar>
                        <img [src]="category.icon" alt="imgFilter">
                    </ion-avatar>
                    <ion-label>
                        <br>
                        {{category.name}}
                        <br>
                        <span class="separator">|</span>
                        <br>
                        12
                    </ion-label>
                </ion-col>
            </div>
        </ion-row>
    </ion-grid>

    <ion-list lines="none">
        <ion-card class="card-detail" *ngFor="let product of products">
            <ion-card-header>
                <!-- <ion-img src="/assets/images/pexels-photo-156114.jpeg"></ion-img> -->
                <img [src]="product.image" alt="prod">
                <ion-card-title>{{product.name}}</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-icon name="star-outline" slot="start"></ion-icon>
                <ion-label>{{product.qualification}}</ion-label>
                <ion-label>{{product.time}}</ion-label>
                <ion-button fill="outline" slot="end">
                    <ion-icon slot="start" name="cart"></ion-icon>
                    {{product.price}}
                </ion-button>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>